.main-panel {
  width: 100vw - 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.main-panel > p {
  width: 75%;
  /*flex: 0.7;*/
}

.main-panel > h2 {
  margin: 0;
}
